<a id="2.2.1"></a>
#### <b>1 <span style='color:#B21010'>|</span> ƒê·ªçc d·ªØ li·ªáu v√† t√≠nh s·ªë d√≤ng v√† c·ªôt</b>

üëâ ƒê·∫ßu ti√™n ta import, c√†i ƒë·∫∑t c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

üëâ Ti·∫øp ƒë·∫øn ƒë·ªçc file `"HR_Analytics.csv"` v√†o dataframe `df` v√† in ra 5 d√≤ng ƒë·∫ßu ti√™n c·ªßa dataframe.

In [2]:
df = pd.read_csv("../Lab01/HR_Analytics.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

üëâ T√≠nh s·ªë d√≤ng v√† s·ªë c·ªôt v√† l∆∞u v√†o 2 bi·∫øn `num_rows` v√† `num_cols`.

In [4]:
num_rows, num_cols = df.shape
print(f'Number of rows: {num_rows}\nNumber of columns: {num_cols}')

Number of rows: 1470
Number of columns: 35

<a id="2.2.2"></a>
#### <b>2 <span style='color:#B21010'>|</span> M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?</b>

* T·∫≠p d·ªØ li·ªáu cung c·∫•p m·ªôt ph√¢n t√≠ch to√†n di·ªán v√† ƒëa d·∫°ng v·ªÅ nh√¢n vi√™n ·ªü m·ªôt t·ªï ch·ª©c.
* M·ªói d√≤ng l√† th√¥ng tin c·ªßa m·ªôt nh√¢n vi√™n t·∫≠p trung v√†o c√°c kh√≠a c·∫°nh nh∆∞ chi ti√™u, c√°c y·∫øu t·ªë c√° nh√¢n, c√¥ng vi·ªác v√† t√†i ch√≠nh.
<br>
**=> V√¨ th·∫ø s·∫Ω kh√¥ng xu·∫•t hi·ªán d√≤ng n√†o c√≥ √Ω nghƒ©a kh√°c.**